{% extends 'base.html' %}
{% block title %}Password Updated{% endblock %}

{% block content %}

<h1>Password change was successful</h1>
<br/><br/>

<div style="width:100%;height:0;padding-bottom:71%;position:relative;"><iframe src="https://giphy.com/embed/lW9XPLjNXyDDO" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/rick-roll-gotcha-mod-miny-lW9XPLjNXyDDO">via GIPHY</a></p>



{% endblock %}