{% extends 'base.html' %}
{% block title %}Create a New Blog Category{% endblock %}

{% block content %}

{% if user.is_authenticated %}

    <h1>Add Category</h1>
    <br/><br/>

    <div class="mb-3">

    <form method="POST">
        <!-- Cross-site request forgery -->
        {% csrf_token %}
        {{ form.as_p }}

         White space in category name is not allowed
         <br/>
        <button class="btn btn-success">Add Category</button>

    </div>

{% else %}

You are not allowed here buddy!

{% endif %}


{% endblock %}