{% extends 'base.html' %}
{% load static %} 
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <samll>By: {{post.author.first_name}}  {{post.author.last_name}} - {{post.post_date}}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
        </small></br>
    {% endif %}
{% endif %}
        <hr>
        <br/>

        {% if post.header_image %}
        <img src="{{ post.header_image.url }}">
        {% endif %}
        <br/>
        {{ post.body|safe }}

        <br/><br/>
        <a href="{% url 'home' %}"class="btn btn-dark">Back</a>

        <br/><br/>
        <hr>
        <br/>
        <form action ="{% url 'like_post' post.pk %}"
        method = "POST">
            {% csrf_token %}

<!--user authentication like/dislike-->
        {% if user.is_authenticated %}  
            {% if liked  %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-outline-danger btn-sm">Unlike</button>
            {% else %}   
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-outline-success btn-sm">Like</button>
            {% endif %}
        {% else %}
         <a href="{% url 'login' %}">Login</a> to Like
        {% endif %}
             - {{ total_likes }} likes
        <form/>

<br/><br/>

<div class=" text-white bg-dark card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
{% if post.author.profile.profile_pic %}
        <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" alt="...">
{% else %}
        <img src="{% static 'theblog/images/user.png' %}" class="img-fluid rounded-start" alt="...">
{% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{post.author.first_name}}  {{post.author.last_name}}</h5>
          <p class=" small text-muted">
            {% if post.author.profile.website %}
                | <a href="{{ post.author.profile.website }}">Website</a>
            {% endif %}

            {% if post.author.profile.github %}
                | <a href="{{ post.author.profile.github }}">Github</a>
            {% endif %}

            {% if post.author.profile.twitter %}
                | <a href="{{ post.author.profile.twitter }}">Twitter</a>
            {% endif %}    
            
            {% if post.author.profile.instagram %}
               | <a href="{{ post.author.profile.instagram }}">Instagram </a>
            {% endif %}

        </p>
          <p class="card-text">{{  post.author.profile.bio }}</p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}