{% extends 'base.html' %}

{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <samll>By: {{post.author.first_name}}  {{post.author.last_name}} - {{post.post_date}}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
        </small></br>
    {% endif %}
{% endif %}
        <hr>
        <br/>

        {% if post.header_image %}
        <img src="{{ post.header_image.url }}">
        {% endif %}
        <br/>
        {{ post.body|safe }}

        <br/><br/>
        <a href="{% url 'home' %}"class="btn btn-dark">Back</a>

        <br/><br/>
        <hr>
        <br/>
        <form action ="{% url 'like_post' post.pk %}"
        method = "POST">
            {% csrf_token %}

<!--user authentication like/dislike-->
        {% if user.is_authenticated %}  
            {% if liked  %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-outline-danger btn-sm">Unlike</button>
            {% else %}   
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-outline-success btn-sm">Like</button>
            {% endif %}
        {% else %}
         <a href="{% url 'login' %}">Login</a> to Like
        {% endif %}
             - {{ total_likes }} likes
        <form/>



{% endblock %} 