{% extends 'base.html' %}


{% block content %}

<h1>post</h1>

<ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}  </a>
    - <a href="{% url 'category' post.category|slugify %}">{{ post.category }} </a>
    - {{ post.author.first_name }} 
    {{post.author.last_name}} - {{post.post_date}} 

    {% if user.is_authenticated %}
       <small> <a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
    {% endif %}

    </small> <br/>
    {{ post.body |slice:":250"|safe }}</li>
{% endfor%}
</ul>


{% endblock %}